@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.arrow {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.arrowIcon {
  display: inline-block;
  font-size: 2rem;
  animation: bounce 2s infinite;
}
