.aboutMeSection {
  padding: 60px 20px;
  text-align: center;
  animation: fadeInUp 0.6s ease-out;
  color: #fff;
  margin: 0 auto;
  max-width: 1300px;
  font-family: ;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 50px;
  color: var(--gradient-start);
  background: -webkit-linear-gradient(
    var(--gradient-start),
    var(--gradient-end)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.introText {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  background: #333;
  color: #fff;
  transition: background 0.3s ease;
  margin: 0;
  font-weight: thin;
}

.tab:first-of-type {
  border-top-left-radius: 10px;
}

.tab:last-of-type {
  border-top-right-radius: 10px;
}

.tab.active {
  background: var(--gradient-start);
  color: #000;
}

.tab:not(.active):hover {
  background: #444;
}
